html, body {
    margin: 0;
    padding: 0;
}

:root {
    /* 100vh / 4 - card target height, *0.66 - card width/height relation */
    --cardWidth: calc(100vh / 4 * 0.60);
}

.game {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background: url('./../img/tables/green-table.jpg');
}

.field {
    height: calc(100vh);
}

.buttons {
    position:absolute;
    top:8rem;
    right:0;
    width:8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    display: block;
    margin:0.5rem 0;
    box-sizing: border-box;
    cursor: pointer;
    height:10vh;
    width:10vh;
    background-size: contain;
}
.button.newgame {
    background: url('./../img/start-game.svg') center center;
}
.button.restartgame {
    background: url('./../img/restart-game.svg') center center;
}

.dealer {
    position: absolute;
    top:0;
    left:0;
}

.dealer-deck,
.dealer-slot {
    z-index:0;
    display: inline-block;
    min-width: var(--cardWidth);
    border: 3px transparent solid;
}

.dealer-deck {
    border: 3px solid white;
    border-radius: 0.5rem;
}

.scoreboard {
    position:absolute;
    right:0;
    top:0;
}

.scoreboard-text {
    position:relative;
    width:8rem;
    text-align: center;
    border: 3px white solid;
    border-radius: 0.5rem;
    font-size:5rem;
    padding:1rem;
    color:black;
    box-sizing: border-box;
}

.cardrow {
    position: absolute;
}

.cardrow:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    position: absolute;
    /*position: relative;*/
    display: inline-block;
    margin: 0;
    padding: 0.2rem;
    /*font-size: 800%;*/
    line-height: 100%;
    border-radius: 0.5rem;
    background: transparent;
    outline: transparent;
}
.dealer .card {
    position:relative;
}
.card.img img {
    width: var(--cardWidth);
}

.card:hover {
    background: yellow;
}
.dealer .card:hover {
    background: transparent;
}

.suit-d,
.suit-h {
    color: red;
}

.suit-c,
.suit-s {
    color: black;
}

