@import "~bootstrap/scss/bootstrap";

:root {
    /* 100vh / 4 - card target height, *0.66 - card width/height relation */
    --cardWidth: calc(100vmin / 4 * 0.60);
}

.game {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background: url('./../img/tables/green-table.jpg');
}

.field {
    //height: calc(100vh);
}

.buttons {
    position:absolute;
    top: calc( var(--cardWidth) + 2vmin );
    right:0;
    min-width: var(--cardWidth);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    display: block;
    margin:1vmin 0;
    box-sizing: border-box;
    cursor: pointer;
    height:10vmin;
    width:10vmin;
    background-size: cover;
}
.button.disabled {
    cursor: default;
    opacity: 0.3;
}
.button.newgame {
    background: url('./../img/start-game.svg') center center;
}
.button.restartgame {
    background: url('./../img/restart-game.svg') center center;
}
.button.fullscreen {
    background: url('./../img/fullscreen.svg') center center;
}
.button.undo {
    background: url('./../img/undo.svg') center center;
}
.button.help {
    background: url('./../img/help.svg') center center;
}

.dealer {
    position: absolute;
    top:0;
    left:0;
}

.dealer-deck,
.dealer-slot {
    z-index:0;
    display: inline-block;
    min-width: var(--cardWidth);
    border: 3px transparent solid;
}

.dealer-deck {
    border: 3px solid white;
    border-radius: 1vmin;
}

.scoreboard {
    position:absolute;
    width: var(--cardWidth);
    height: var(--cardWidth);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right:0;
    top:0;
    box-sizing: border-box;
    border: 3px white solid;
    border-radius: 1vmin;
    overflow: hidden;
}

.scoreboard-text {
    display:block;
    text-align: center;
    color:white;
    font-size: calc(var(--cardWidth) * 0.5);
    line-height: calc( var(--cardWidth) * 0.9 );
    font-weight: bold;
    vertical-align: middle;
}

.cardrow {
    position: absolute;
}

.cardrow:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    position: absolute;
    display: inline-block;
    margin: 0;
    padding: 0.2vmin;
    line-height: 100%;
    border-radius: 1vmin;
    background: transparent;
    outline: transparent;
    cursor: pointer;
    border:none;

}
.dealer .card {
    position:relative;
}
.card.img img {
    width: var(--cardWidth);
}

.card:hover {
    background: yellow;
}
.dealer .card:hover {
    background: transparent;
}

.suit-d,
.suit-h {
    color: red;
}

.suit-c,
.suit-s {
    color: black;
}
#gameModal .modal-dialog {
    max-width:80vw;
}
#gameModal .modal-body {
    font-size:1.5rem;
    color:black;
    border:none;
    padding:15% 5% 15% 20%;
    opacity:1;
    background: none;
}
#gameModal .modal-content {
    position:relative;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border-radius:5rem;
    z-index:990;
}
#gameModal .modal-content::after {
    content:"";
    position: absolute;
    top:0;left:0;bottom:0;right:0;
    background-color: white;
    z-index:999;
    border-radius:5rem;
    background: url('./../img/modal-border.svg') center center no-repeat;
    background-size: 100% 100%;
    background-clip: border-box;
    opacity: 0.5;
}
