html, body {
    margin: 0;
    padding: 0;
}

:root {
    --cardWidth: calc(12vh * 0.66 * 2);
}

.game {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background: url('./../img/tables/green-table.jpg');
}

.field {
}

.dealer {
}

.dealer-deck,
.dealer-slot {
    z-index:0;
    display: inline-block;
    min-width: var(--cardWidth);
    border: 3px transparent solid;
}

.dealer-deck {
    border: 3px solid white;
    border-radius: 0.5rem;
}

.scoreboard {
    position:absolute;
    right:0;
    top:0;
}

.scoreboard-text {
    position:relative;
    width:6rem;
    text-align: center;
    border: 3px white solid;
    border-radius: 0.5rem;
    font-size:400%;
    padding:1rem;
    color:black;
}

.cardrow {
    position: absolute;
}

.cardrow:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    position: absolute;
    /*position: relative;*/
    display: inline-block;
    margin: 0;
    padding: 0.2rem;
    /*font-size: 800%;*/
    line-height: 100%;
    border-radius: 0.5rem;
    background: transparent;
    outline: transparent;
}
.dealer .card {
    position:relative;
}
.card.img img {
    width: var(--cardWidth);
}

.card:hover {
    background: yellow;
}
.dealer .card:hover {
    background: transparent;
}

.suit-d,
.suit-h {
    color: red;
}

.suit-c,
.suit-s {
    color: black;
}

